.mainDiv {
    width: 500px;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -250px;
    align-items: center;
}

.loginBtn {
    padding-top: 20px;
    width: 100%;
}

.errLbl {
    text-align: center;
    width: 100%;
    color: red;
}
